<div class='d-none d-md-flex social'>
  <div class=' d-inline-flex flex-column flex-fill justify-content-end'>
    <div class='d-flex flex-row'>
      <a href="https://github.com/rajeevmehrotra" target="_blank" rel="nofollow noopener">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/raj-mehrotra" target="_blank" rel="nofollow noopener">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div class='d-flex flex-row'>
        <a href="https://twitter.com/RajAlexMehrotra" target="_blank" rel="nofollow noopener">
          <i class="fab fa-twitter"></i>
        </a>
      <a href="https://www.instagram.com/rajuker/" target="_blank" rel="nofollow noopener">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class='d-inline-flex flex-column justify-content-end align-items-end flex-fill email'>
    <a class='d-none d-xl-block' href='mailto:rajeev.a.mehrotra1@gmail.com'>rajeev.a.mehrotra1@gmail.com</a>
    <a class='d-none d-md-block d-xl-none' href='mailto:rajeev.a.mehrotra1@gmail.com'>
      <i class="far fa-envelope"></i>
    </a>
  </div>
</div>
<footer>
  <div class='d-flex d-md-none flex-column align-items-center social'>
    <div class='d-flex flex-row'>
      <a href="https://github.com/rajeevmehrotra" target="_blank" rel="nofollow noopener">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/raj-mehrotra" target="_blank" rel="nofollow noopener">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://twitter.com/RajAlexMehrotra" target="_blank" rel="nofollow noopener">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/rajuker/" target="_blank" rel="nofollow noopener">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class='d-flex flex-row email'>
      <a href='mailto:rajeev.a.mehrotra1@gmail.com'>rajeev.a.mehrotra1@gmail.com</a>
    </div>
  </div>
  Created by Raj Mehrotra
  <br>
  2019
</footer>
