@import 'variables';

.social {
  position: sticky;
  bottom: 0;
  margin-bottom: 10px;
}

.social div {
  font-size: 20pt;
  line-height: 0;
}

.social div a {
  color: rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.social.night-mode div a {
  color: rgba(218, 218, 218, 0.5);
}

.social div a:hover {
  color: #000;
}

.social.night-mode div a:hover {
  color: $dark-text-color;
}

.social .email {
  font-size: 14pt;
  line-height: 1;
}

.social .email a {
  text-decoration: underline;
}

.social .email i {
  font-size: 20pt;
}

@media (min-width: 768px) {
  .social {
    height: 100px;
    padding: 0 20px 20px 20px;
  }

  .social .email {
    // padding-bottom: 15px;
  }
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: $light-alternate-color;
  line-height: 2;
}

footer.night-mode {
  background-color: $dark-alternate-color;
}

/* Animations */
.social {
  opacity: 0;
  animation: fade-in-up ease 0.4s forwards;
  -webkit-animation: fade-in-up ease 0.4s forwards;
  -moz-animation: fade-in-up ease 0.4s forwards;
  -o-animation: fade-in-up ease 0.4s forwards;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
}