@import 'variables';

html, body {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

body.night-mode {
  background-color: $dark-background-color;
  color: $dark-text-color;

  h2 {
    background-color: $dark-text-color;

    span {
      background-color: $dark-background-color;
      color: $dark-text-color;
    }
  }

  #experience {
    a {
      color: $dark-external-link-color;
    }

    ul {
      li .tag {
        color: $dark-link-color;
        border-color: rgba(218, 218, 218, 0.5);
      }
      li:before {
        color: $dark-external-link-color;
      }
    }
  }
}

section {
  width: 100%;
  max-width: 700px;
  padding: 100px 0;
  opacity: 0;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

#hero {
  height: 100%;
  padding-top: unset;
  padding-bottom: unset;
}

@media(min-width: 768px) {
  section .content {
    max-width: 700px;
    margin-left: 100px;
  }
}

section > div > h2 {
  margin-bottom: 50px;
}

#container {
  width: 100%;
  height: 100%;
}

h2 {
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;

  span {
    background:#fff;
    padding-right: 30px;
 }
}

#content {
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  position: absolute;
  width: 300px;
  height: 200px;
  line-height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
}

#experience {
  ul {
    list-style: none;

    li {
      margin-bottom:22px;

      .tag-array {
        margin: 10px 0 0 10px;
      }

      .tag {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin: 0 10px 5px 0;
        color: $light-link-color-hover;
      }
    }

    li:before {
      color: $light-link-color-hover;
      content: '> ';
      float: left;
      margin-left: -20px;
      margin-top: -1px;
    }
  }
}

#skills table {
  margin-left: 20px;
}

/* Animation stylings */
#hero {
  opacity: 0;
  animation: fade-in-up cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
  -webkit-animation: fade-in-up cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
  -moz-animation: fade-in-up cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
  -o-animation: fade-in-up cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
}

#hero {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
}

.show-section {
  animation: fade-in-up ease 0.4s forwards;
  -webkit-animation: fade-in-up ease 0.4s forwards;
  -moz-animation: fade-in-up ease 0.4s forwards;
  -o-animation: fade-in-up ease 0.4s forwards;
}