.navbar {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.navbar .navbar-brand {
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.headroom--pinned.headroom--not-top {
  box-shadow: rgba(218, 218, 218, 0.9) 0px 2px 4px;
}

.headroom--unpinned {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
  padding-right: 30px;
  border-width: 0;
}

.navbar-light .navbar-toggler:focus {
  outline: 0;
}

.headroom--top .navbar-collapse {
  box-shadow: rgba(218, 218, 218, 0.9) 0px 2px 4px;
}

@media (min-width: 768px) {
  .headroom--top .navbar-collapse {
    box-shadow: none;
  }
}

#topNavbar {
  text-align: end;
  padding-right: 30px;
}

#topNavbar .navbar-nav {
  margin-left: auto;
}

#topNavbar .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

/* Animation stylings */
.navbar .navbar-brand, .navbar .navbar-toggler {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
  -webkit-animation: fade-in-right ease 0.4s forwards;
  -moz-animation: fade-in-right ease 0.4s forwards;
  -o-animation: fade-in-right ease 0.4s forwards;
}

.navbar .navbar-brand {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
}

.navbar .navbar-toggler {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    -webkit-animation: fade-in-right ease 0.4s forwards;
    -moz-animation: fade-in-right ease 0.4s forwards;
    -o-animation: fade-in-right ease 0.4s forwards;
  }

  .navbar .navbar-nav {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
  }
}