$light-background-color: #fff;
$light-text-color: #000;
$dark-background-color: #102027;
$dark-text-color: #fff;
$light-alternate-color: rgba(218, 218, 218, 0.3);
$dark-alternate-color: rgba(55, 71, 79, 0.5);
$light-link-color: rgba(0, 0, 0, 0.5);
$light-link-color-hover: rgba(0, 0, 0, 0.7);
$dark-link-color: rgba(218, 218, 218, 0.5);
$dark-link-color-hover: #fff;